<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <header class="bg-gray-800 text-white p-4">
        <div class="mx-auto flex justify-between items-center">
            <h1 class="text-xl font-semibold"><a href="/" class="hover:text-gray-300">Welcome to Youkoso Store</a></h1>
            <nav>
                <a href="/products" class="text-white px-3 py-2 rounded hover:bg-gray-700 hover:text-white">Home</a>
                <a href="/vouchers" class="text-white px-3 py-2 rounded hover:bg-gray-700 hover:text-white">Manage Voucher</a>
                <button id="logoutButton">Logout</button>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script th:src="@{/js/logout.js}"></script>
                <!-- More content -->
            </nav>
        </div>
    </header>
</div>

</body>
</html>
