<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Request</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:inline="javascript">
    const endpointUrl = 'http://34.101.35.243';

    function generateUUID() {
      return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
              (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
      );
    }

    function submitRequest() {
      var requestData = {
        id: generateUUID(), // Generate UUID here
        productName: $('#productName').val(),
        imageUrl: $('#imageUrl').val(),
        price: $('#price').val(),
        storeUrl: $('#storeUrl').val(),
        currency: $('#currency').val()
      };

      $.ajax({
        url: endpointUrl + '/api/requests/create',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(requestData),
        success: function (response) {
          alert('Request created successfully!');
          window.location.href = '/requests';
          console.log(response);
        },
        error: function (error) {
          $('#responseMessage').html('<p class="text-red-600">Error creating request: ' + error.responseText + '</p>');
        }
      });
    }
  </script>
</head>
<body>
<h1>Create New Request</h1>
<form id="requestForm" onsubmit="event.preventDefault(); submitRequest();">
  <div>
    <label for="productName">Product Name:</label>
    <input type="text" id="productName" name="productName" required>
  </div>
  <div>
    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" name="imageUrl" required>
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required>
  </div>
  <div>
    <label for="storeUrl">Store URL:</label>
    <input type="text" id="storeUrl" name="storeUrl" required>
  </div>
  <div>
    <label for="currency">Currency:</label>
    <input type="text" id="currency" name="currency" required>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
  <div id="responseMessage"></div>
</form>
</body>
</html>