<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Voucher List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="bg-gray-200 flex flex-col items-center min-h-screen">
    <header class="flex items-center justify-center bg-white shadow w-full p-4 mb-6">
        <h1 class="text-3xl font-bold">Voucher Management</h1>
    </header>

    <div id="details-modal" style="display: none" class="fixed inset-0 z-10 flex items-center justify-center ">
        <div onclick="closeModal()" class="absolute w-screen h-screen bg-opacity-75 bg-gray-700"></div>
        <div class="z-10 bg-white p-6 rounded-lg shadow-md max-w-md mx-auto">
            <h2 class="text-2xl font-bold mb-6 text-center">Voucher Details</h2>

            <div class="detail-label font-bold">Voucher ID:</div>
            <div id="voucherId" class="detail-value mb-2"></div>

            <div class="detail-label font-bold">Voucher Name:</div>
            <div id="voucherName" class="detail-value mb-2"></div>

            <div class="detail-label font-bold">Voucher Description:</div>
            <div id="voucherDescription" class="detail-value mb-2"></div>

            <div class="detail-label font-bold">Voucher Start Date:</div>
            <div id="voucherStartDate" class="detail-value mb-2"></div>

            <div class="detail-label font-bold">Voucher End Date:</div>
            <div id="voucherEndDate" class="detail-value mb-2"></div>

            <div class="detail-label font-bold">Voucher Discount (%):</div>
            <div id="voucherDiscount" class="detail-value mb-2"></div>

            <div class="detail-label font-bold">Voucher Usage Limit:</div>
            <div id="voucherUsageLimit" class="detail-value mb-2"></div>

            <button onclick="closeModal()" id="close-modal-btn" class="mt-4 px-4 py-2 bg-red-500 text-white rounded">Close</button>
        </div>
    </div>

    <main class="w-full max-w-7xl mx-auto p-4">
        <div id="responseMessage" class="mb-4 text-center"></div>
        <div id="products" class="flex flex-wrap items-center justify-center"></div>
    </main>

    <script>
        const endpointUrl = 'http://localhost:8080';

        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');
        if (message) {
            $('#responseMessage').html('<p class="text-green-600">' + message + '</p>');
        }

        $(document).ready(function() {
            $.ajax({
                url: endpointUrl + '/voucher-api/list',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    data.forEach(function(voucher) {
                        const voucherCard = `
                            <div id="voucher-${voucher.voucherId}" class="cursor-pointer bg-white shadow-md rounded-lg p-4 m-2 w-64 transition-transform duration-300 ease-in-out transform hover:scale-105" onclick="fetchVoucherDetails('${voucher.voucherId}')">
                                <h2 class="text-xl font-semibold">${voucher.voucherName}</h2>
                                <p class="text-gray-700">${voucher.voucherDescription}</p>
                                <p class="text-gray-900 font-bold">${voucher.voucherDiscount}%</p>
                                <div class="flex flex-row justify-end mt-2 gap-2">
                                    <button class="cursor-pointer bg-yellow-500 text-white px-2 py-1 rounded" onclick="editVoucher(event, '${voucher.voucherId}')">Edit</button>
                                    <button class="cursor-pointer bg-red-500 text-white px-2 py-1 rounded" onclick="deleteVoucher(event, '${voucher.voucherId}')">Delete</button>
                                </div>
                            </div>
                        `;
                        $('#products').append(voucherCard);
                    });

                    $('#products').append(`
                        <a href="/vouchers/create">
                            <div class="bg-blue-500 shadow-md rounded-lg p-4 m-2 text-xl text-white font-bold transition-transform duration-300 ease-in-out transform hover:scale-105">
                                +
                            </div>
                        </a>
                    `);
                },
                error: function () {
                    $('#responseMessage').html('<p class="text-red-600">Error fetching vouchers.</p>');
                }
            });
        });

        function fetchVoucherDetails(voucherId) {
            $.ajax({
                url: endpointUrl + '/voucher-api/get/' + voucherId,
                method: 'GET',
                success: function(voucher) {
                    $('#voucherId').text(voucher.voucherId);
                    $('#voucherName').text(voucher.voucherName);
                    $('#voucherDescription').text(voucher.voucherDescription);
                    $('#voucherStartDate').text(voucher.voucherStartDate.slice(0, 16));
                    $('#voucherEndDate').text(voucher.voucherEndDate.slice(0, 16));
                    $('#voucherDiscount').text(voucher.voucherDiscount);
                    $('#voucherUsageLimit').text(voucher.voucherUsageLimit);

                    $('#details-modal').css('display', 'flex');
                },
                error: function() {
                    console.error('Error fetching voucher details.');
                }
            });
        }

        function deleteVoucher(event, voucherId) {
            event.stopPropagation();
            $.ajax({
                url: endpointUrl + '/voucher-api/delete/' + voucherId,
                method: 'DELETE',
                success: function() {
                    $('#voucher-' + voucherId).remove();
                    $('#responseMessage').html('<p class="text-green-600">Voucher deleted successfully!</p>');
                },
                error: function() {
                    $('#responseMessage').html('<p class="text-red-600">Error deleting voucher.</p>');
                }
            });
        }

        function editVoucher(event, voucherId) {
            event.stopPropagation();
            window.location = '/vouchers/edit?id=' + voucherId;
        }

        function closeModal() {
            $('#details-modal').css('display', 'none');
        }
    </script>
</body>
</html>
