<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notifications</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .read {
            color: grey;
        }
        .unread {
            color: black;
        }
    </style>
</head>
<body>
    <h2>Notifications</h2>
    <div id="notifications"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var baseUrl = 'http://34.126.65.178/notification';

        function fetchNotifications() {
            $.ajax({
                url: baseUrl + '/getAllNotification',
                type: 'GET',
                success: function (notifications) {
                    var notificationHtml = notifications.map(function(notification) {
                        var readClass = notification.isRead ? 'read' : 'unread';
                        return `<div id="${notification.notificationId}" class="${readClass}">
                                    <p>${notification.product.productName} - Quantity is zero</p>
                                    <button onclick="markAsRead('${notification.notificationId}')">Mark as Read</button>
                                </div>`;
                    }).join('');
                    $('#notifications').html(notificationHtml);
                }
            });
        }

        function markAsRead(notificationId) {
            $.ajax({
                url: baseUrl + '/updateNotification/' + notificationId,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({ isRead: true }),
                success: function () {
                    $('#' + notificationId).addClass('read').removeClass('unread');
                },
                error: function () {
                    alert('Failed to mark as read!');
                }
            });
        }

        $(document).ready(function() {
            fetchNotifications();
        });
        /*]]>*/
    </script>
</body>
</html>
