<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Management</title>
    <button onclick="window.location.href='/notifications.html'">Go to Notifications</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Add dropdown for sorting products -->
<label for="sortMethod">Sort By:</label>
<select id="sortMethod">
    <option value="SortByName">Name</option>
    <option value="SortByDate">Date Added</option>
    <option value="SortByPrice">Price</option>
</select>
<button onclick="fetchProducts()">Sort Products</button>

<script th:inline="javascript">
    /*<![CDATA[*/
    var baseUrl = 'http://34.126.65.178/product';

    function fetchProducts() {
        var sortMethod = $('#sortMethod').val();

        $.ajax({
            url: baseUrl + '/getAllProducts?sort=' + sortMethod,
            type: 'GET',
            success: function (products) {
                var productHtml = products.map(function(product) {
                    return '<p>' + product.productName + ' - ' + product.productPrice + '</p>';
                }).join('');
                $('#products').html(productHtml);
            }
        });
    }
    /*]]>*/
</script>

</head>
<body>
    <h2>Products List</h2>
    <div id="products"></div>
    
    <script th:inline="javascript">
        /*<![CDATA[*/
        var baseUrl = 'http://34.126.65.178/product';
    
        function fetchProducts() {
            $.ajax({
                url: baseUrl + '/getAllProducts',
                type: 'GET',
                success: function (products) {
                    var productHtml = products.map(function(product) {
                        return '<p>' + product.name + ' - <button onclick="fetchProductById(\'' + product.id + '\')">View Details</button></p>';
                    }).join('');
                    $('#products').html(productHtml);
                }
            });
        }
    
        function fetchProductById(productId) {
            $.ajax({
                url: baseUrl + '/getProductById/' + productId,
                type: 'GET',
                success: function (product) {
                    alert('Product: ' + product.name + ', Price: ' + product.price);
                },
                error: function () {
                    alert('Product not found!');
                }
            });
        }
    
        $(document).ready(function() {
            fetchProducts();
        });
        /*]]>*/
    </script>    
</body>
</html>
